/*IMPORTS*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:wght@100;400;600;800&family=Roboto:wght@400;700&family=Source+Code+Pro:wght@400;600&display=swap");

/*CSS VARIABLES*/
/* RESET STYLES*/
*,
*::after,
*::before {
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  letter-spacing: $base-letter-spacing;
  background-color: #eaeded;
  @include scrollBar-transperent;
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
}
@include scrollBar-transperent;
