@import "../../SASS/index.scss";
.product-container {
  background-color: white;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include scrollBar-transperent;
  .product-info-top {
    height: 30%;
    .product-info {
      font-size: 1.5em;
    }
    .product-info-body {
      font-size: 1.2em;
    }
    .product-price-box {
      display: flex;
      gap: 1em;
      .product-rating {
        display: flex;
        color: $Amazon-search-icon-background-color;
      }
    }
  }
  .product-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 250px;

    .product-img {
      max-width: 80%;
      height: 200px;
      object-fit: contain;
    }
  }
  .product-btn-box {
    height: 5%;
    display: grid;
    place-content: center;
    button {
      background-color: $Amazon-search-icon-background-color;
      border: 1px solid;
      border-color: #a88734 #9c7e31 #846a29;
      margin-top: 10px;
      color: $black-v1;
      padding: 5px;
    }
  }
}
.home-row-1 {
  min-width: 49.5%;
}
.home-row-2 {
  min-width: 100%;
}
.home-row-3 {
  min-width: 33%;
}

//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: space-between;
//   background-color: $white;
//   padding: 5px;
//   padding: $base-padding;

//   .product-info-box {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     padding: 15px;
//     width: 100%;
//     z-index: 1000;
//     background-color: white;
//     .product-info {
//     }
//     .product-price {
//     }
//     .product-rating {
//       display: flex;
//     }
//     .product-img {
//       max-width: 30%;
//       width: 70%;
//       object-fit: contain;
//       margin-bottom: 15px;
//     }
//   }
//
// }
