.home-container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  .home-img-box {
    height: 270px;

    margin: 0 auto;
    .home-img {
      width: 100%;
      z-index: -1;
      margin-bottom: -150px;
      // -webkit-mask-image: linear-gradient(
      //   to bottom,
      //   rgba(0, 0, 0, 1) 60%,
      //   rgba(0, 0, 0, 0)
      // );
    }
  }
  .home-product-row {
    overflow: hidden;
    height: 600px;
    .home-row-scrool {
      height: 90%;

      display: flex;
      gap: 20px;

      margin: 20px auto;
      overflow: scroll hidden;
    }
  }
}
